* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crete Round', serif;
}

body {
  background-color: rgba(218, 227, 235, 0.541);
}

.gris{
  background-image: url(../img/natural-wooden-background.jpg);
}

.nav-link {
  color: black !important;
}

.top-nav-collapse {
  background: rgba(0, 0, 0, 0.904);
}

.top-nav-collapse div a {
  color: rgba(245, 245, 245, 0.89) !important;
}

.center {
  margin: 0 auto !important;
}

.bg-img {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

// Header

.main-header {
  height: 560px;

}

.header-img {
  width: 50vw;
  height: 560px;
  margin-left: 300px;
}

.img-h {
  background-image: url(../img/targeta.jpeg);
}

// Social Media

.nav-link {
  width: 100%;
  text-align: center;
}

.social-media {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  padding: 20px auto;
  justify-content: space-evenly;

  @media (max-width: 768px) {
    grid-template-columns: 95%;
    grid-row: auto;
  }
}

.border {
  border: 1px solid black !important;
}

.social-icon {
  height: 300px;
  width: 250px;
  border-color: black !important;
  margin-left: auto;
}

// seccion sobre nosotros
.row {
  width: 95vw;
}
.card {
  /* Add shadows to create the "card" effect */
  height: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-card {
  width: 6rem;
  height: 6rem;
}

// footer

footer {
  height: 50px;
  background-color: rgb(25, 27, 29);
  color: white;
}
